/* Home Page Styling */
.home {
  background-image: url("../Images/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-position: center;
  justify-content: center;
  text-align: center;
  padding-top: 205px;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.welcome,
h3,
.amazing {
  color: white;
}
/* About Page Styling */
.about-us,
.services {
  margin: auto;
  text-align: center;
  padding: 20px;
  line-height: 30px;
}
/* Services Page Styling */
.services {
  background-image: url("../Images/s_image.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  padding-top: 100px;
  line-height: 30px;
}
/* What we do Page Styling */
.what-we-do {
  justify-content: center;
  text-align: center;
}
.title {
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.info-1,
.info-2,
.info-3 {
  display: none;
}
#img-1,
#img-2,
#img-3 {
  cursor: pointer;
}

/* Portfolio Page Styling */
.container {
  display: grid;
  grid-template-columns: 1fr;
}
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.portfolio-item-wrapper {
  position: relative;
}
.portfolio-img-bg {
  height: 40vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img-text-wrapper {
  position: absolute;
  top: 0;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
}
.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
  cursor: pointer;
  font-weight: 600;
}
.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: black;
}
.img-darken {
  transition: 1s;
  filter: opacity(0.2);
}

/* Form Page Styling */

.contact-us {
  justify-content: center;
  text-align: center;
}
::placeholder {
  color: white;
}
button{
 
  margin-left: 500px;
  margin-right: 500px;
}

.form-row {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.message-area {
  align-items: center;
  text-align: center;
  justify-content: center;

  display: flex;
}
.form-control-is-inv,
.form-control {
  color: white;
}
#validationTextarea,
#exampleFormControlInput1,
#validationCustom01 {
  background: transparent;
}

#mc_embed_signup {
  background: transparent;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

#mc_embed_signup {
  background-image: url("../Images/c_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

/* Social Page Styling */
.socials {
  display: flex;
  /* margin: auto; */
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
}

/* Footer Page Styling */
.footer {
  justify-content: center;
  text-align: center;
  align-items: center;
}

