/* Home Page Styling */
.home {
  background-image: url("../Images/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  justify-content: center;
  text-align: center;
  padding-top: 205px;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.welcome,
h3,
.amazing {
  color: white;
}
/* About Page Styling */
.about-us,
.services {
  margin: auto;
  text-align: center;
  padding: 20px;
  line-height: 30px;
}
/* Services Page Styling */
.services {
  background-image: url("../Images/s_image.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  height: 48vh;
  background-repeat: no-repeat;
  padding-top: 100px;
  line-height: 30px;
}
/* What we do Page Styling */
.what-we-do {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: space-around;
  
  
}
.title{
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.info-1, .info-2, .info-3{
  display: none;
  
}
#img-1, #img-2, #img-3{
  cursor: pointer;
}

/* Portfolio Page Styling */
.container{
  display: grid;
  grid-template-columns: 1fr;
}