/* Home Page Styling */
.home {
  background-image: url("../Images/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  justify-content: center;
  text-align: center;
  padding-top: 205px;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.welcome,
h3,
.amazing {
  color: white;
}
/* About Page Styling */
.about-us,
.services {
  margin: auto;
  text-align: center;
  padding: 20px;
  line-height: 30px;
}
/* Services Page Styling */
.services {
  background-image: url("/Images/s_image.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  height: 48vh;
  background-repeat: no-repeat;
  padding-top: 100px;
  line-height: 30px;
}
/* What we do Page Styling */
.what-we-do {
  margin: auto;
  text-align: center;
  padding: 30px;
  line-height: 20px;
}
